:root{
    --blue:rgb(68, 121, 201);
}
h1{
   color:var(--blue);
    margin-bottom: 25px;
    margin-left: 25px;
    text-shadow: 1px 1px 5px orchid;

}
h2{
    color:var(--blue);
    font-size: 1.3em;
    text-shadow: 1px 1px 10px orchid;
    margin-bottom: 25px;
    margin-left: 25px;
}
main{
    display: flex;
}
main img{
    width: 800px;
}
p{
    margin-bottom: 15px;
    border: 0;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 1rem;
    text-transform: lowercase;

}
p::first-letter{
    text-transform: uppercase;
    color:orangered;
    font-size: 1.3em;
    text-shadow: 1px 1px 2px black;

}

span{
    color: var(--blue);
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #002;
}
/* button{
    color: var(--blue);
    width: 300px;
    height: 200px;
    background-image:linear-gradient(white, green
    ) ;
    border-radius: 100%;
} */
.contactZap{
    display: flex;
}
.contactZap img{
    width: 100vw;
    height: 100vh;
}
.contactZap button{
    position: absolute;
    z-index: 1;
}
#teste{
  
    position:absolute;
    width: 340px;
    height: 340px;
    cursor: pointer;
}
#teste img{
    width: 340px;
    height: 340px;
}
ul li:hover{
    color:white;
    background-color: rgb(46, 82, 179);
    transition: 1s ease-in-out;
    border-radius: 15px;
    height: -120px;
    padding: 25px 15px ;
}